/Keys
/scripts
/TheQDeviceConnect.Core/bin
/TheQDeviceConnect.Core/obj
/TheQDeviceConnect.Droid/bin
/TheQDeviceConnect.Droid/obj
/TheQDeviceConnect.iOS/bin
/TheQDeviceConnect.iOS/obj
/TheQDeviceConnect.UI/bin
/TheQDeviceConnect.UI/obj