/Keys
/scripts
/TheQDeviceConnect.Core/bin
/TheQDeviceConnect.Core/obj
/TheQDeviceConnect.Droid/bin
/TheQDeviceConnect.Droid/obj
/TheQDeviceConnect.iOS/bin
/TheQDeviceConnect.iOS/obj
/TheQDeviceConnect.UI/bin
/TheQDeviceConnect.UI/obj
.vs
src/TheQDeviceConnect.Droid/obj
src/TheQDeviceConnect.UI/obj
src/TheQDeviceConnect.iOS/obj
src/TheQDeviceConnect.iOS/bin
src/TheQDeviceConnect.Core/bin
src/TheQDeviceConnect.Core/obj
src/TheQDeviceConnect.Droid/bin
src/TheQDeviceConnect.UI/bin
mono_crash.11a67480d0.0.json
